
.portfolio {
  padding: 50px 0 125px;
}
.portfolio__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
}

.portfolio__projects {
  margin: 50px 0 0;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__project-name {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  color: #FFFFFF;
}

.portfolio__project-link {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  color: #FFFFFF;
}