.tech {
  background-color: #272727;
}

.tech__content {
  padding: 90px 0 100px;
}

.tech__title {
  margin: 90px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  color: #FFFFFF;
}

.tech__descr {
  margin: 26px auto 0;
  max-width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.tech__list {
  margin: 100px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.tech__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #303030;
  border-radius: 10px;
}