.filter-checkbox {
  width: 36px;
  height: 20px;
  border-radius: 20px;
  border: none;
  background: #bfbfbf;
  position: relative;
  transition: .1s all linear;
  cursor: pointer;
}
.filter-checkbox::after {
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  position: absolute;
  transition: .5s all linear;
}
.filter-checkbox_on {
  background: #3DDC84;
}
.filter-checkbox_on.filter-checkbox::after {
  left: auto;
  right: 2px;
}